<div class="container">
    <div class="card mb-3">
        <img [src]="apiUrl+BlogDetails.imageUrl" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{BlogDetails.subject}}</h5>
          <p class="card-text">{{BlogDetails.description}}</p>

          <div style="display: flex;">
            <p style="color: rgb(43, 38, 38); font-weight: 600;" class="card-text"><small class="text-muted">Last Updated {{BlogDetails.lastUpdated|datePipeValuesConverter}}</small></p>
            <p style="color: rgb(43, 38, 38); font-weight: 600;margin-left: 25px;" class="card-text"><small class="text-muted">Published On: {{ BlogDetails.date || 'M/d/yy, h:mm a'  }}</small></p>

          </div>
         
         
          <p style="color: rgb(43, 38, 38); font-weight: 600;" class="card-text"><small class="text-muted">Posted By: {{BlogDetails.userModel.username|titlecase}}</small></p>
        </div>
        <div class="btnstyle">
            <button class="btn btn-success">Like [1]</button>
            <button class="btn btn-success">Comments [4]</button>
        </div>
      </div>
</div>
