<div class="container">
    <div class="card mb-3">
      <div style="display: flex;" >
        <img [src]="apiUrl+BlogDetails?.imageUrl" class="card-img-top" alt="...">
        <ul    class="list-group" style="padding: 16px;">
          <li class="list-group-item">Like By Peoples: ❤️</li>
          <li *ngFor="let items of peoplesLikes" class="list-group-item">{{items | titlecase }} 👍</li>
          
        </ul>
      </div>
        <div class="card-body">
          <h5 class="card-title">{{BlogDetails?.subject}}</h5>
          <pre class="card-text">{{BlogDetails?.description}}</pre>

          <div style="display: flex;">
            <p style="color: rgb(43, 38, 38); font-weight: 600;" class="card-text"><small class="text-muted">Last Updated {{BlogDetails?.lastUpdated|datePipeValuesConverter}}</small></p>
            <p style="color: rgb(43, 38, 38); font-weight: 600;margin-left: 25px;" class="card-text"><small class="text-muted">Published On: {{  BlogDetails?.date | dateChangePipe }}</small></p>

          </div>
         
         
          <p style="color: rgb(43, 38, 38); font-weight: 600;" class="card-text"><small class="text-muted">Posted By: {{BlogDetails?.userModel?.username|titlecase}}</small></p>
        </div>
        <div class="btnstyle">
         
            <button (click)="dopostLike()"  [ngClass]="checkIfLikeOrNot()==true?'btn btn-success':'btn btn-primary'">Like [{{allLikesCount}}]</button>
            <button class="btn btn-success">Comments [{{allcomments.length}}]</button>
        </div>
      </div>
      <div>
        
      </div>
      <form [formGroup]="commentModel">
      <div class="card">
      
      <textarea [class.is-invalid]="getdesc()?.invalid && getdesc()?.touched"  formControlName="description" class="commentfield"  placeholder="comments your thoughts...">
       </textarea>
       <small *ngIf="getdesc()?.invalid && getdesc()?.touched" style="color:red;margin-left: 20px;">comments should not be blank ....</small>
     
   
      <div style="text-align: right;">
      
        <button (click)="sendDetails()"  class="btn btn-success" >send</button>
        <button   class="btn btn-danger">reset</button>
      </div>
     
       

    
    </div>
  </form>
  <div *ngFor="let items of allcomments">
      <div class="card1">
      
        <div style="display: flex;">
        <p class="userpara">Posted By : {{items.userModel?.username | titlecase}} | Date:{{items?.date | dateChangePipe }}</p>
        <button *ngIf="CurrentUser==items.userModel?.username" (click)="changeValuecomment(items?.cid,items?.description)" class="btn1" class="btn btn-success">edit</button>
        <button  *ngIf="CurrentUser==items.userModel?.username" (click)="deleteCommentById(items?.cid)" class="btn1" class="btn btn-danger">delete</button>
      </div>
        <div class="commentCard">
          <pre>{{items.description}}</pre>
        </div>
      </div>
     

    </div>
</div>

