<div class="table-responsive">
    <table class="table">
       
        <thead>
          <tr>
            <th scope="col">Sno.</th>
            <th scope="col">Subject</th>
            <th scope="col">Description</th>
            <th scope="col">imageUrl</th>
            <th scopr="col">Update</th>
            <th scope="col">delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let items of allblogs; let i=index;">
            <th scope="row">{{i+1}}</th>
            <td>{{items.subject}}</td>
            <td>{{items.description|descriptionLimiter}}</td>
            
            <td>{{items.imageUrl}}</td>
            <td><button (click)="updateBlog(items)" class="btn btn-success">Update</button></td>
            <td><button (click)="deleteBlogById(items.blogId)" class="btn btn-danger">Delete</button></td>
          </tr>
          
        </tbody>
    </table>
  </div>

  <div *ngIf="allblogs.length==0" style="text-align: center;">
    <p style="font-size: 20px;font-weight: 500;font-family: 'Times New Roman', Times, serif; color:green;">NO BLOGS YET PLEASE POST BLOGS::</p>
  </div>