<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <ul class="nav">
    <li class="nav-item">
      <a routerLink="blogs" routerLinkActive #a="routerLinkActive" [ngClass]="a.isActive==true ?'nav-link active':'nav-link'" >Blogs</a>
    </li>
    <li class="nav-item">
      <a routerLink="myblogs" routerLinkActive #b="routerLinkActive" [ngClass]="b.isActive==true ?'nav-link active':'nav-link'" >MyBlogs</a>
    </li>
    <li class="nav-item">
      <a routerLink="createBlogs" routerLinkActive #c="routerLinkActive" [ngClass]="c.isActive==true ?'nav-link active':'nav-link'">CreateBlogs</a>
    </li>

    <li class="nav-item">
      <a routerLink="profile" routerLinkActive #c="routerLinkActive" [ngClass]="c.isActive==true ?'nav-link active':'nav-link'">UserProfile</a>
    </li>
   
  </ul>
  <ul class="nav">
    <li class="nav-item">
      <a routerLink="login" routerLinkActive #a="routerLinkActive" [ngClass]="a.isActive==true ?'nav-link active':'nav-link'" >Login</a>
    </li>
    <li class="nav-item">
      <a routerLink="register" routerLinkActive #a="routerLinkActive" [ngClass]="a.isActive==true ?'nav-link active':'nav-link'" >Register</a>
    </li>
  </ul>
 
</nav>


<router-outlet></router-outlet>