
<div *ngIf="showmessage"  class="popupcard">
  <p>{{message}}</p>
  </div>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <ul class="nav">
    <li class="nav-item">
      <a routerLink="blogs" routerLinkActive #a="routerLinkActive" [ngClass]="a.isActive==true ?'nav-link active':'nav-link'" >Blogs</a>
    </li>
    <li class="nav-item">
      <a routerLink="myblogs" routerLinkActive #b="routerLinkActive" [ngClass]="b.isActive==true ?'nav-link active':'nav-link'" >MyBlogs</a>
    </li>
    <li class="nav-item">
      <a routerLink="createBlogs" routerLinkActive #c="routerLinkActive" [ngClass]="c.isActive==true ?'nav-link active':'nav-link'">CreateBlogs</a>
    </li>

    <li class="nav-item">
      <a routerLink="profile" routerLinkActive #c="routerLinkActive" [ngClass]="c.isActive==true ?'nav-link active':'nav-link'">UserProfile</a>
    </li>
   
  </ul>
  <ul class="nav">
    <li class="nav-item">
      <a routerLink="login" routerLinkActive #a="routerLinkActive" [ngClass]="a.isActive==true ?'nav-link active':'nav-link'" >Login</a>
    </li>
    <li class="nav-item">
      <a routerLink="register" routerLinkActive #a="routerLinkActive" [ngClass]="a.isActive==true ?'nav-link active':'nav-link'" >Register</a>
    </li>
    <li class="nav-item">
     <img  (click)="toggle()" style="width:40px;height:40px;border-radius: 50%;" [src]="apiUrl+currentUser?.imageUrl">
    </li>
  </ul>
 
</nav>
<div *ngIf="showFlag"class="card">
  <ul style="border-radius: 20px;text-align: center;" class="list-group">
    <li class="list-group-item">Username:{{currentUser.username}}</li>
    <li class="list-group-item">Email:{{currentUser.email}}</li>
    <li class="list-group-item">Roles:{{roles}}</li>
    <li class="list-group-item">Last Login:{{ date| date:'MMM d, y, h:mm:ss a'}}</li>

  

    <li class="list-group-item">logOut</li>
   
  </ul>

</div>


<router-outlet></router-outlet>