
<div class="container" style="width: 100%;">
    <div style="width: 100%;" class="row">
        <div    *ngFor="let items of allblogs" class="col-3 sw">
        
            <div (click)="gotoBlogs(items.blogId)" style="box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"  class="card">
                <img [src]="apiUrl+items.imageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{items.subject}}</h5>
                  <p class="card-text">{{items.description|descriptionLimiter}}</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  
                </div>
              </div>

       

</div>
    </div>
</div>
   
