.division{
    margin-top: 10px;
    width:100%;
}
.card-img-top{
    width:350px;
    height:300px;
    margin: auto;
   
    margin-top: 10px;
}
.sw{
    margin: 10px;width:412px;cursor: pointer;
}
.card:hover{
    background-color: rgb(249, 248, 248);
}


.card-body{
    margin-left: 10px;
}
button{
    padding: 10px;
    margin: 10px;
}